{% extends "diploma.html" %}
{% block content %}
<form action="/diploma" method="POST">
    <select class="form-select" name="subject" id="subject">
        <option value="{{x}}">{{y}}</option>
    </select><br>
    <input type="number" step="any" name="gaa" placeholder='gaa' required><br>
    <input type="number" step="any" name="q1" placeholder='q1' required><br>
    <input type="number" step="any" name="q2" placeholder='q2' required><br>
    <input type="number" step="any" name="op" placeholder='op' required><br>
    <input type="number" step="any" name="p" placeholder='p' required><br>
    <input type="number" step="any" name="f" placeholder='f' required><br>
    <input type="submit"><br>
</form>
{% endblock %}
